    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-heading">
                        <h1>{{title}}</h1>
                        <hr class="small">
                        <span class="subheading">Recruitment task created with Angular</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row articles-container">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">  
                <div class="row">             
                    <div class="col-lg-8">
                        <div class="form-group">
                            <div class="input-group">
                                <input 
                                    [formControl]="term"
                                    id="input-search" 
                                    type="text" class="form-control input-search" 
                                    placeholder="Search for..."
                                    [(ngModel)]="inputSearch"
                                    (keyup.enter)="onSearch()">
                                <span class="input-group-btn">
                                    <button 
                                        class="btn btn-default" 
                                        type="button" 
                                        (click)="onSearch()">Go!</button>
                                </span>
                            </div><!-- /input-group -->
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <form #myForm="ngForm" novalidate>
                                <my-date-range-picker 
                                    name="mydaterange" 
                                    [options]="myDateRangePickerOptions"
                                    [(ngModel)]="model"
                                    placeholder="Choose a date"
                                    required></my-date-range-picker>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="post-preview"  *ngFor="let resp of renderContent">
                    <a [href]="resp.web_url">
                        <h2 class="post-title">
                            {{resp.headline.main}}
                        </h2>
                        <h3 class="post-subtitle" [innerHTML]="resp.snippet"> </h3>
                    </a>
                    <p class="post-meta">Posted {{resp.byline ? resp.byline.original : ""}} on {{resp.pub_date}}</p>
                    <hr>                
                </div>
            </div>
        </div>
    </div>
    <hr>

    <!-- Footer -->
    <footer class="navbar-fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="https://grzegorzstanczyk.github.io/The-New-York-Times-Project-live.github.io/">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/GrzegorzStanczyk/The-New-York-Times-Project">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/grzegorzstanczyk/">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Grzegorz Stańczyk 2017</p>
                </div>
            </div>
        </div>
    </footer>
